<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBSelectCommand" value="select * from sys.objects"/>
		<add key="DBConnectionString" value="Integrated Security=SSPI;database=master;server=."/>
		
	</appSettings>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
