<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LogDeployment.Properties.Settings.DeploymentDb" connectionString="Data Source=.;Initial Catalog=BizTalkDeploymentDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Console.ForegroundColor.Error" value="12"/>
    <add key="Console.ForegroundColor.Warning" value="14"/>
    <add key="Console.ForegroundColor.Info" value="15"/>

    <!-- Powershell info -->
    <add key="PSRootPath" value="D:\BizTalk\Deployment\PowerShell"/>
    <add key="MsiRootPath" value="D:\BizTalk\Projects\Publish"/>
    <add key="BizTalkToolsFolder" value="D:\BizTalk\Tools"/>
    <add key="BizTalkLogsFolder" value="D:\BizTalk\Logs"/>
    <add key="BizTalkDomain" value="btslab.net"/>
    <add key="BizTalkTmpInstall" value="d$\temp\install"/>

    <!-- BizTalk Groups -->
    <add key="BizTalk_LOC" value=""/>
    <add key="BizTalk_DEV" value=""/>
    <add key="BizTalk_TST" value=""/>
    <add key="BizTalk_EDU" value=""/>
    <add key="BizTalk_HFX" value=""/>
    <add key="BizTalk_PRD" value=""/>

    <!-- Deployment types -->
    <add key="Type" value="Full, Patch, Adapter"/>
    <!-- Deployment actions -->
    <add key="Action" value="Install, Remove, Stop, Start, Show"/>
    <!-- InValid types per action -->
    <add key="Action_install" value=""/>
    <add key="Action_remove" value="Adapter"/>
    <add key="Action_stop" value="Adapter"/>
    <add key="Action_start" value="Adapter"/>
    <add key="Action_show" value="Adapter"/>
    <!-- Valid actions per type -->
    <add key="Type_Full" value="Install, Remove, Stop, Start, Show"/>
    <add key="Type_Patch" value="Install, Remove, Stop, Start, Show"/>
    <add key="Type_Adapter" value="Install, Remove"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
