<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- key="Setting.Name" value="Setting.Value" -->
    <add key="Console.ForegroundColor.Error" value="12"/>
    <add key="Console.ForegroundColor.Warning" value="14"/>
    <add key="Console.ForegroundColor.Info" value="15"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
