<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MsiRootPath" value="d:\biztalk\projects\publish"/>
    <add key="BizTalk_DEV" value="localhost"/>
    <add key="BizTalk_TST" value="dbotest.biztalk2010,1433"/>
    <add key="BizTalk_EDU" value="dboeduc.biztalk2010,1433"/>
    <add key="BizTalk_HFX" value="dbofixprod.biztalk2010,1433"/>
    <add key="BizTalk_PRD" value="dboprod.biztalk2010,1433"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
