<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InitDeploymentLog.Properties.Settings.DeploymentDb" connectionString="Data Source=.;Initial Catalog=BizTalkDeploymentDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="LogDeployment.Properties.Settings.DeploymentDb" connectionString="Data Source=.;Initial Catalog=BizTalkDeploymentDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
